:root{
    --backround-main: hsl(215, 51%, 70%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --sec-white: hsl(0, 0%, 83%);
    --green-hover: hsl(178, 100%, 50%);
    --main-text: hsl(217, 54%, 11%);
    --purple-text: hsl(256, 60%, 64%);
    --sec-text: hsl(216, 50%, 16%);
    --background-sec: hsl(215, 61%, 57%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Koulen','Arial', sans-serif;
    background-color: var(--backround-main);
}

 /* ========================================HEADER=============================================== */

.main__header-container, .Interactive-header{
    height: 80px;
}

 .main__header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    color: var(--main-text);
    cursor: pointer;
    transition: 2s;
    border-radius: 5%;
    animation: move 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 80px, 0);
    }
}
.main__header-container:hover{
    background: var(--background-sec);
    color: var(--backround-main);
    /* transform: translateY(50px); */
}


.Interactive-header{
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    animation: typing 4s steps(15) forwards,
    caret 1s steps(1) infinite;
    animation-delay: 1.5s
}
@keyframes typing {
    to{
        width: 20ch;
    }    
}


.main-span {
    font-style: italic;
    text-shadow: none;
    font-size: 60px;
    color: var(--sec-text);
    animation: color 10s ease-in-out infinite;
}
@keyframes color {
    0% {color: var(--backround-main);}
    17% {color: var(--purple-text);}
    34% {color: var(--backround-main);}
    51% {color: var(--purple-text);}
    68% {color: var(--backround-main);}
    85% {color: var(--purple-text);}
    100% {color: var(--backround-main);}
}
    